@import '../../../sass/setting.sass';

.headerContainer {
    width: 100vw;
    height: 35vh;
    display: flex;
    align-items: center;
    padding-bottom: 15rem;
    padding-top: 10%;
    @media screen and (min-width: 470px) {
        padding-bottom: 20rem;
    }
    @media screen and (min-width: 700px) {
        padding-bottom: 25rem;
    }

    &__img {
        margin-left: 1rem;
        width: 4rem;
        @media screen and (min-width: 500px){
            margin-left: 3rem;
        }
        @media screen and (min-width: 700px){
            margin-left: 7rem;
        }
    }

    &__login {
        &__a {
            font-weight: 100;
            font-size: 1rem;
            text-decoration: none;
            color: $font-color-link;
        }
    }

    &__menu {
        cursor: pointer;
        width: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #000;
        padding: .7rem;
        border-radius: .7rem;
    }

    &__right {
        width: 80%;
        margin-left: 10%;
        gap: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}