@import '../../../../../sass/setting.sass';

.menuList__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 0;
    width: 90vw;
    font-weight: 600;
    &__img {
        display: block;
    }
    &__adtional {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .8rem;
        color: $font-color-lithless;
    }
}