@import '../../../../sass/setting.sass';

.cardContainer {
    width: 100%;
    height: 60vh;
    padding: 0 1rem;
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    @media screen and (min-width: 600px) {
        gap: 0;
    }
}
