@import '../../../sass/setting.sass';

.mainContainer {
    gap: 10%;
    padding: 0 1rem;
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: 1024px) {
        flex-direction: row;
    }

    &__contentContainer {
        display: flex;
        width: 20rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media screen and (min-width: 550px) {
            position: relative;
            bottom: 3rem;
        }
        @media screen and (min-width: 1024px) {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            position: relative;
            bottom: 17rem;
            left: 5rem;
            gap: 2rem;
        }
    }
        
    
    &__h1 {
        color: $font-color-light;
        font-size: 1.6rem;
        font-weight: bold;
        text-align: center;
        font-family: $font-family-headers;
        @media screen and (min-width: 700px) {
            font-size: 1.8rem;
        }
        @media screen and (min-width: 1024px) {
            font-size: 3rem;
            width: 120%;
            text-align: left;
        }
        @media screen and (min-width: 1200px) {
            width: 60%;
        }
    }
    &__p {
        color: $font-color-lithless;
        font-size: 1.1rem;
        line-height: 1.6rem;
        text-align: center;
        font-weight: 400;
        @media screen and (min-width: 1024px) {
            text-align-last: left;
        }
    }
    &__button {
        @include button;
    }
    &__animate {
        width: 20rem;
        z-index: -1;
        @media screen and (min-width: 470px) {
            position: relative;
            bottom: 15vh;
            width: 30rem;
        }
        @media screen and (min-width: 570px) {
            position: relative;
            bottom: 20vh;
        }
        @media screen and (min-width: 700px) {
           width: 40rem; 
        }
        @media screen and (min-width: 1024px) {
            bottom: 35vh;
            left: 5rem;
        }
        @media screen and (min-width: 1150px) {
            left: 0;
        }
        @media screen and (min-width: 1600px) {
            left: 5rem;
        }
    }
}

.menu {
    width: 100vw;
    height: 100vh;
    &__x {
        position: sticky;
        top: 0;
        left: 100%;
        display: block;
        padding: 1rem;
        width: 15%;
    }
}