@import "../../../../../sass/setting.sass";

#card {
  border-radius: 0.7rem;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=45, Color=#A5A7AC)";
  /*IE 8*/
  -moz-box-shadow: -2px 2px 10px #a5a7ac;
  /*FF 3.5+*/
  -webkit-box-shadow: -2px 2px 10px #a5a7ac;
  /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: -2px 2px 10px #a5a7ac;
  /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color=#A5A7AC);
  padding: 1rem;
  width: 8rem;
  height: 5rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 5%;
  @media screen and (min-width: 400px) {
    width: 10rem;
  }
  @media screen and (min-width: 470px) {
    position: relative;
    bottom: 5rem;
    width: 12rem;
  }
  @media screen and (min-width: 550px) {
    width: 13rem;
  }
  @media screen and (min-width: 700px) {
    // width: 15rem;
    height: 7rem;
    font-size: 1.4rem;
    bottom: 3rem;
  }
  @media screen and (min-width: 1024px) {
    width: 17rem;
    bottom: 15rem;
  }
  @media screen and (min-width: 1400px) {
    width: 20rem;
    height: 9rem;
    font-size: 1.6rem;
    bottom: 20rem;
  }
  @media screen and (min-width: 1600px)  {
    bottom: 20rem;
  }
  @media (orientation: landscape) and (min-width: 320px) and (max-width: 950px)  {
    bottom: -5rem;
}
}

// .cardWrapper {
//     position: relative;
//     width: 45%;
//     height: 25%;
//     margin: 0 auto;
//     border-radius: .7rem;
//     -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=45, Color=#A5A7AC)";
//     /*IE 8*/
//     -moz-box-shadow: -2px 2px 10px #A5A7AC;
//     /*FF 3.5+*/
//     -webkit-box-shadow: -2px 2px 10px #A5A7AC;
//     /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
//     box-shadow: -2px 2px 10px #A5A7AC;
//     /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
//     filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color=#A5A7AC);

//     @media screen and (min-width: 470px) {
//         bottom: 10vh;
//     }

//     @media screen and (min-width: 450px) {
//         width: 35%;
//     }

//     @media screen and (min-width: 750px) {
//         width: 30%;
//         margin: 0 10%;
//     }

//     @media screen and (min-width: 900px) {
//         width: 25%;
//         margin: 0 10%;
//     }

//     @media screen and (min-width: 1024px) {
//         width: 30%;
//         margin: 0 1%;
//     }

//     @media screen and (min-width: 1024px) {
//         bottom: 17rem;
//         height: 9rem;
//         width: 25%;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }
//     @media screen and (min-width: 1200px) {
//         bottom: 15rem;
//         height: 8rem;
//     }

//     /*IE 5.5-7*/
//     &__card {
//         z-index: 1;
//         position: absolute;
//         width: 100%;
//         padding: 2rem 1rem 1rem 1rem;
//         position: relative;
//         background-color: #fff;
//         color: $font-color-light;
//         font-weight: 600;
//         font-size: .9rem;

//         @media screen and (min-width: 600px) {
//             font-size: 1.3rem;
//         }

//         @media screen and (min-width: 1024px) {
//             font-size: 1.8rem;
//             font-weight: bold;
//         }
//         @media screen and (min-width: 1400px) {
//             font-size: 2rem;
//         }
//     }

//     &__dot {
//         color: #6432ff;
//         font-size: 2rem;
//         position: relative;
//         top: .5vh;
//     }
// }
